.caixa-flexivel {
    background-color: #cccccc;
    display: flex; /* flexiliza os itens do container, ou inline-flex que se ajusta a largura dos itens */
    /* flex-direction: row-reverse; */ /* altera a direção dos itens */
     /* flex-wrap: wrap-reverse; */
     height: 500px;
     align-items: baseline;
     justify-content: space-between;
}

.caixa-flexivel div{
    background-color: #333333;
    color: #ffffff;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 24px;
}

/* div{
    float: left; /* posiciona os itens da div lado a lado */
}   */